html {
  position: relative;
  box-sizing:border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing:inherit;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  outline: none;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  // font-family: "Passero One", cursive;
  // background-color: $bgColor;
  // color: $textColor;
  overflow-x: hidden;
  max-width: 100%;
}

.container {
  max-width: calc(100vw - 60px);
  margin: 0 auto;
}

.audio__title {
  font-weight: 300;
  font-size: 50px;
  text-align: center;
  margin-bottom: 30px;
}

.audio-wrapper {
  display: flex;
  flex-direction: column;
  align-items:center;
  margin: 0 auto;
  max-width: 800px;
  height: 300px;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

.audio__description {
font-size: 20px;
}
.selection {

}
.selection__title {

}
.selection__list {
display: flex;
justify-content: center;
gap: 10px;
}
.selection__item {

}
.selection__btn {
width: 40px;
height: 40px;
}

.word-box {
  background-color:teal;
  width: 100vw;
  height: 100vh;
}

.question-wrapper {
  display: flex;
  flex-direction: column;
  align-items:center;
  margin: 0 auto;
  max-width: 800px;
  height: 300px;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

.audio-button-card,
.audio-button {
  // margin-left: 50%;
  // transition: translateX(-50%);
  width: 150px;
  border-radius: 50%;
  border: none;
  opacity: .5;
  transition: all .3s ease-in-out;
}

.audio-button-card:hover,
.audio-button:hover {
  opacity: 1;
}

.answer-buttons__list {
  display: flex;
  gap: 10px;
  padding-bottom: 40px;
}

/* Карточка с правильным ответом*/

.card-wrapper {
  width: 200px;
  height: 600px;
  background-color:antiquewhite;
  border-radius: 5px;
}

.img-card {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.audio-button-card {
  width: 30px;
}

.result-wrapper {

}

.correct-li {
  display: flex;
}